html {
  background-color: gray;
}

body {
  margin: 0;
  padding: 0;
  font: 0.8em/1.7 Arial;
  overflow-y: scroll;
  overflow-x: hidden;
}

#topbar {
  position: fixed;
  width: 100%;
  height: 20px;
  z-index: 10;
  color: white;
  background-color: #000;
  padding: 5px;
  box-shadow: 0 5px 25px #000;
  opacity: 0.75;
}

#title {
  color: #fff;
  /* text-shadow: 0px -1px 0px #374683; */
  float: left;
  font: bold 150% Arial;
  padding: 0 5px 0 5px;
  margin-right: 15px;
  cursor: help;
}

input[type=file] {
  color: black;
  border-color: #000;
}

button {
  border-radius: 12px;
  border: solid 1px gray;
  background: #ededed;
  background: linear-gradient(top, #ededed, #cbcbcb);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

#back {
  float: left;
  height: 20px;
  margin-right: 15px;
}

#fullscreen {
  float: right;
  margin-right: 15px;
}

#info {
  float: right;
  margin-right: 25px;
}

#loader {
  float: right;
}

#metadata {
  z-index: 3;
  float: right;
  color: gray;
  margin-right: 15px;
}

input[type=range] {
  position: absolute;
  right: 15%;
  top: 40px;
  z-index: 2;
  color: white;
  background-color: transparent;
  width: 70%;
  opacity: 0.5;
}

input[type=range]:hover {
  opacity: 1;
}

#thumbnails {
  position: absolute;
  margin: 0;
  top: 30px;
}

#thumbnails > img {
  position: relative;
  width: 25%;
  float: left;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

#preview {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
}

#prev, #next {
  position: fixed;
  font-size: 200%;
  border: 0;
  border-radius: 0;
  opacity: 0;
  z-index: 20;
  width: 10%;
  height: 100%;
}

#prev:hover, #next:hover {
  opacity: 0.5;
}

#prev[disabled], #next[disabled] {
  opacity: 0;
}

#prev {
  left: 0%;
}

#next {
  right: 0%;
}

#thumbnails > img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#preview > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

abbr {
  border-bottom: 0;
}

#dropzone {
  opasity: 0;
}

*[hidden] {
  display: none;
}

.fd-slider-wrapper {
  display: none;
}

.fd-slider {
  height: 10px !important;
}